{% extends "BisonLabReportsBundle::layout.html.twig" %}

{% block content %}

<h2>{{'bisonlab_reports.pre_fixed_reports'|trans({}, 'bisonlab_reports')}}</h2>

<form action="{{ path('reports_run_fixed') }}" method="post">
    <ul>
        <li><strong>{{'bisonlab_reports.report'|trans({}, 'bisonlab_reports')}}:</strong> {{ form_widget(report_form.report) }}
        <br />
        <li><strong>{{'bisonlab_reports.output_as'|trans({}, 'bisonlab_reports')}}:</strong> {{ form_widget(report_form.output_method) }}
        <br />
        <li><strong>{{'bisonlab_reports.criterias'|trans({}, 'bisonlab_reports')}}:</strong> {{ form_rest(report_form) }}
    </ul>

    <button type="submit">{{'bisonlab_reports.run'|trans({}, 'bisonlab_reports')}}</button>
</form>

{#
<h2>Compile your own:</h2>

<form action="{{ path('reports_run_compiled') }}" method="post">
    <ul>
        <li><strong>Pickers:</strong> {{ form_widget(picker_form.pickers) }}
        <br />
        <li><strong>Filters:</strong> 
        <br />
        <li><strong>Output as:</strong> {{ form_widget(picker_form.output_method) }}
        <br />
        <li><strong>Criterias:</strong> {{ form_rest(picker_form) }}
    </ul>

    <button type="submit">Run</button>
</form>
#}

{% endblock %}
