{% extends "@BisonLabReports/layout.html.twig" %}

{#
This is the css/js files used here. Or rather than just copy this into your scrip load page or whatever you have, pull minifiles compbined at https://datatables.net/download/
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
#}


{% block content %}

<script>

function checkChecked(index)
{
    if ($( "#check_" + index ).is(":checked")) {
        $( ".bisrep_" + index ).show();
    } else {
        $( ".bisrep_" + index ).hide();
    }
}

function printDataInNewPage()
{
   var divToPrint=document.getElementById("reports_table");
   newWin= window.open("");
   newWin.document.write(divToPrint.outerHTML);
   newWin.print();
   newWin.close();
}

$(document).ready(function() {

    $('#printbutton').on('click',function(){
        /* This does not take style into consideration, and if we hide table
         * columns it will print those aswell.
         */
        // printDataInNewPage();
        /*
         * If we hide most of the page, print and then show again, we have a nice
         * printout. But the issue is that we do  not know what to hide, since this
         * is a generic bundle.
         * Pretty sure it's possible to traverse backwards from the table itself,
         * but must be some work.
         * And after that, go back through and show again.
         */

        /*
         * The hack'y, but reasonable option is to just hide the header.
         * But hiding will not release the space taken up by the header and then
         * it'll look stupid. Gotta handle that aswell.
         * The Print button and eventual datatables buttons has to be hidden aswell.
         */
        if ($('#reports_table >tbody >tr').length > 200) {
            $('#reports_table').dataTable({
                "destroy": true,
                "paging": false,
                "order": []
                });
        }
        $("header").hide();
        // This may be a bit specific for my designs,
        document.body.style.paddingTop = "0px";
        $("h1").hide();
        $("button").hide();
        $("label").hide();
        $("input").hide();
        $(".dataTables_info").hide();
        $(".dataTables_filter").hide();
        $(".dataTables_paginate").hide();
        $(".dataTables_length").hide();
        window.print();
        document.body.style.paddingTop = "";
        $(".dataTables_length").show();
        $(".dataTables_paginate").show();
        $(".dataTables_filter").show();
        $(".dataTables_info").show();
        $("h1").show();
        $("input").show();
        $("label").show();
        $("header").show();
        $("button").show();
    })

})
</script>

<h1><strong> {{ report.report }} </strong> </h1>

{# Maybe datatables does this better?
  (The answer is more or less guaranteed to be "Yes". Keeping the code forr  a revsion or two anyway.)

{% for elem in header %}
<input id="check_{{ loop.index }}" type="checkbox" onClick='checkChecked("{{ loop.index }}");' checked>{{ elem }}</input>
{% endfor %}
<br>
<button id="printbutton">Print me</button>

#}
<table class="record_properties table-striped display compact" id="reports_table" style="width:100%">
    <thead>
    <tr>
      {% set hcount = header | length %}
      {% for elem in header %}
        <th class="bisrep_{{ loop.index }}">{{ elem }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
            {% set rcount = row | length %}
            {% set rest = hcount - rcount %}
            {% for col in row %}
                {% if col is not empty %}
                        <td class="bisrep_{{ loop.index }}">{{ col | raw }}</td>
                {% else %}
                        <td class="bisrep_{{ loop.index }}">&nbsp;</td>
                {% endif %}
           {% endfor %}
           {% for r in 1..rest %}
                <td class="bisrep_{{ rcount - r }}">&nbsp;</td>
           {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function()
    {
        if ($('#reports_table >tbody >tr').length > 200) {
            $('#reports_table').dataTable({
                order: [],
                pageLength: 200,
                lengthMenu: [[ 50, 100, 200, 500 -1], [50, 100, 200, 500, "All"]],
                searching: true,
                dom: 'Bfrtip',
                buttons: [ 
                    {
                        "extend": 'copy',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'excel',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'csv',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'pdf',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'print',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    'colvis'
                ]
            });
        } else {
            $('#reports_table').dataTable({
                paging: false,
                order: [],
                dom: 'Bfrtip',
                buttons: [ 
                    {
                        "extend": 'copy',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'excel',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'csv',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'pdf',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    {
                        "extend": 'print',
                        "exportOptions": {
                            "columns": ':visible'
                        }
                    },
                    'colvis'
                ]
            });
        }
    }
);
</script>
{% endblock %}
